img{
    position: relative;
    bottom: 60px;
    width: 200px;
    margin-top: 0%;
    
}

/* nav{
    height: 80px;
    background-color: rgb(235, 138, 12);
    width: 100%;
    
} */

.navbar{
    height: 80px;
    position: relative;
    max-width: 100%;
    width: 100%;
    background-color: rgb(235, 138, 12);
    min-width: 500px;

}






