img{
    position: relative;
    bottom: 60px;
    width: 200px;
    margin-top: 0%;
    
}

nav{
    height: 80px;
    background-color: rgb(235, 138, 12);
    width: 100%;
    
}

.navbar{
    width: 100%

}





